{% extends "layouts/default.njk" %}

{% block body %}
  {% include "partials/nav.njk" %}
  {% include "partials/snippets.njk" %}

  <section class="snippet-content">
    <div class="actions">
      <a href="/app/snippets/edit/{{ snippet.id }}" class="edit">Editar</a>
      <form action="/app/snippets/delete/{{ snippet.id }}" method="post">
        <button type="submit">Remover</button>
      </form>
    </div>

    <h1>{{ snippet.title }}</h1>
    <div class="content">{{ snippet.content }}</div>
  </section>

{% endblock %}
