{{#each flashSuccess}}
  <div class="alert alert-success" role="alert">{{this}}</div>
{{/each}}

{{#each flashError}}
  <div class="alert alert-danger" role="alert">{{this}}</div>
{{/each}}

<script type="text/javascript">
  setTimeout(function() {
    var alert = document.querySelector('.alert');

    if (alert)
      alert.className += ' alert-hidden';
  }, 3000);
</script>
